body {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #eee;
}

#container {
    margin: 20px auto;
    padding: 15px;
    width: 300px;
    background-color: fff;
    text-align: center;
}

#timer {
    background-color: #ddd;
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    margin-bottom: 15px;
}

.btn {
    width: 80px;
    height: 45px;
    line-height: 45px;
    background-color: #bbb;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#btn-container {
    display: flex;
    justify-content: space-between;
}

.inactive {
    opacity: 0.4;
}